$border-radius: 15px;
$button-size: 24px;
$icon-size: 48px;

$card-max-height: 500px;

.window-card {
  &:hover{
    mat-icon {
      opacity: 1 !important;
    }
  }
  .header {
    background: rgb(242 242 242 / 50%);
    //box-shadow: 0px 9px 27px 16px rgba(0, 0, 0, 0.25);
    border-radius: $border-radius $border-radius 0px 0px;
    height: 2em;
    padding: 0.5em 1.5em;
    cursor: grab;
    display: flex;
    justify-content: space-between;

    .buttons {
      display: flex;
      gap: 8px;
      cursor: pointer;
      > i {
        height: $button-size;
        width: $button-size;
        border-radius: $button-size;
        background: black;
        display: flex;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        color: #3c3c3c;
        font-size: 20px;
        mat-icon {
          font-size: 20px !important;
          opacity: 0;
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
      .b1 { background: #FF8D8D;}
      .b2 { background: #F6B148;}
      .b3 { background: #12DD4B;}
    }
    .title {
      display: flex;
    }
    .duration {
      font-family: Monaco, "Lucida Console", monospace;
    }
  }
  .content {
    animation: fadein  1s ease-in-out forwards;

    background: rgba(242, 242, 242, 0.15);
    //  box-shadow: 0px 9px 27px 16px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px $border-radius $border-radius;

    padding: 0.5em 1em;
    .position {
      display: flex;
      gap: 16px;
      align-items: center;
      > mat-icon {
        font-size: $icon-size;
        height: $icon-size;
        width: $icon-size;
      }
    }
  }
}


.ring {

}
.rings{
  display: flex;
  justify-content: space-evenly;
}

.minimized {
  .header { filter: grayscale(0.7);}

  .content {
    animation: fadeout 1s ease-out forwards;
  }
}

/* Animations for card
*/
@keyframes fadein {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  100% {
    opacity: 1;
    max-height: $card-max-height;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    max-height: $card-max-height;
  }
  100% {
    opacity: 0;
    max-height: 0px;
    visibility: hidden;
  }
}


/*


@keyframes fadeout {
  0% {
    opacity: 1;
    max-height: $card-max-height;
  }
  40% {
    opacity: 0.5;
    max-height: $card-max-height / 3;
  }
  60% {
    opacity: 0;
    max-height: $card-max-height / 6;
  }
  100% {
    opacity: 0;
    max-height: 0px;
    visibility: hidden;
  }

}

*/









































